﻿.navbar {
    background-color: #70a176;
}

    .navbar .navbar-brand {
        color: #e3f6e5;
    }

        .navbar .navbar-brand:hover,
        .navbar .navbar-brand:focus {
            color: #b6e3bb;
        }

    .navbar .navbar-text {
        color: #e3f6e5;
    }

        .navbar .navbar-text a {
            color: #b6e3bb;
        }

            .navbar .navbar-text a:hover,
            .navbar .navbar-text a:focus {
                color: #b6e3bb;
            }

    .navbar .navbar-nav .nav-link {
        color: #e3f6e5;
        border-radius: .25rem;
        margin: 0 0.25em;
    }

        .navbar .navbar-nav .nav-link:not(.disabled):hover,
        .navbar .navbar-nav .nav-link:not(.disabled):focus {
            color: #b6e3bb;
        }

    .navbar .navbar-nav .nav-item.active .nav-link,
    .navbar .navbar-nav .nav-item.active .nav-link:hover,
    .navbar .navbar-nav .nav-item.active .nav-link:focus,
    .navbar .navbar-nav .nav-item.show .nav-link,
    .navbar .navbar-nav .nav-item.show .nav-link:hover,
    .navbar .navbar-nav .nav-item.show .nav-link:focus {
        color: #b6e3bb;
        background-color: #397840;
    }

    .navbar .navbar-toggle {
        border-color: #397840;
    }

        .navbar .navbar-toggle:hover,
        .navbar .navbar-toggle:focus {
            background-color: #397840;
        }

        .navbar .navbar-toggle .navbar-toggler-icon {
            color: #e3f6e5;
        }

    .navbar .navbar-collapse,
    .navbar .navbar-form {
        border-color: #e3f6e5;
    }

    .navbar .navbar-link {
        color: #e3f6e5;
    }

        .navbar .navbar-link:hover {
            color: #b6e3bb;
        }

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #e3f6e5;
    }

        .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
        .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
            color: #b6e3bb;
        }

        .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
            color: #b6e3bb;
            background-color: #397840;
        }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #e3f6e5;
    }

        .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
        .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
            color: #b6e3bb;
        }

        .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
            color: #b6e3bb;
            background-color: #397840;
        }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #e3f6e5;
    }

        .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
        .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
            color: #b6e3bb;
        }

        .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
            color: #b6e3bb;
            background-color: #397840;
        }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #e3f6e5;
    }

        .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
        .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
            color: #b6e3bb;
        }

        .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
            color: #b6e3bb;
            background-color: #397840;
        }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #e3f6e5;
}

    .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #b6e3bb;
    }

    .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #b6e3bb;
        background-color: #397840;
    }
