﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebFormCiudades.aspx.cs" Inherits="CursoClienteServicioWeb.WebFormCiudades" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:GridView ID="gvCiudades" runat="server"></asp:GridView>
        </div>
    </form>
</body>
</html>
