﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Maestra.Master" AutoEventWireup="true" CodeBehind="WebFormHome.aspx.cs" Inherits="WA_CSS_MasterPage.WebFormHome" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h1>Home</h1>
    <p>
        Página de inicio haciendo uso de Master Page
    </p>
</asp:Content>
