﻿@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    background-color: #d1dde8;
    font-family: 'Oswald', sans-serif;
}

h1 {
    text-align: center;
    color: #518ec6;
}

p {
    font-size: 18px;
}

    p.punteado {
        border-style: dotted;
    }

    p.minuscula {
        text-transform: lowercase;
    }

    p.mayuscula {
        text-transform: uppercase;
    }

    p.capitalize {
        text-transform: capitalize
    }

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid #518ec6;
    padding: 6px;
}
